<!-- <div class="col-md-1" ng-show="creature.national_id > 5 && creature.national_id < 10" ng-repeat="creature in pokedex.creatures | orderBy:'national_id'">
<!-- <div class="col-md-1" ng-repeat="creature in pokedex.creatures | orderBy:'national_id'"> -->
<!--<div>-->
 <!--    <h3> {{creature.name}} </h3>
    <p> {{creature.resource_uri}} </p>
    <p>National ID: {{creature.national_id}}</p>
    <p>Type 1: {{creature.types[0].name}}</p>
    <p ng-hide="creatures.types[1].name">Type 2: {{creature.types[1].name}}</p>

    <img class="img-thumbnail" ng-src="{{'/images/sprites/' + creature.national_id + '.png'}}">
</div> -->