<div class="navigationButtons col-md-12">
    <a ng-href="/views/index.html#/pokedexID/{{pokedexEntry.previousID}}"><button class="btn backwards navButton">{{pokedexEntry.previousPokemon}}</button></a>
    <a ng-href="/views/index.html#/pokedexID/{{pokedexEntry.nextID}}"><button class="btn forwards navButton">{{pokedexEntry.nextPokemon}}</button></a>
</div>

<div class="col-md-8 pokedexImage media">
    <img class="center-block pokemonSprite" ng-src="{{pokedexEntry.profile_image}}">
</div>

<div class="col-md-4 pokeDexInfo">
    <h1 class="display-1">#{{pokedexEntry.national_id}}<br>{{pokedexEntry.name}}</h1>
    <p class="infoText lead">{{pokedexEntry.category}}</p>
    <br>
    
    <div class="badge {{type.name}} col-md-4" ng-class="" ng-repeat="type in pokedexEntry.types">{{type.name}}</div>
    <br>
    <!--<img class="img-thumbnail pokemonSprite" ng-src="{{'/images/sprites/' + pokedexEntry.national_id + '.png'}}">-->
    <p class="infoText lead">HT   {{pokedexEntry.height}}</p>
    <p class="infoText lead">WT   {{pokedexEntry.weight}}</p>
    <audio id="cry" ng-src="{{pokedexEntry.cry}}" type="audio/mp3"> </audio>
    <button class="btn button" onclick="playVid()">Cry</button>
</div>

<div class="col-md-12 pokedexDescription">
    <p class="description lead">{{pokedexEntry.description}}</p>
</div>


<div class="col-md-12 pokedexEvolutions">
    <h2 class="display-1">{{pokedexEntry.evolutionsBool}}</h2>
    <br>
        <div class="pokemonEvolution col-md-3" ng-repeat="evolution in pokedexEntry.evolutionData">
    <!--        <p class="">{{evolution.name}}</p>-->
            <a ng-href="/views/index.html#/pokedexID/{{evolution.national_id}}">
                <h4 class="thumbnailName">{{evolution.name}}</h4>
                <img class="center-block thumbnailImage" ng-src="{{evolution.profile_image}}">
            </a>

        </div>
</div>


<br>
<div class="col-md-12 movesetTable">
    <h2 class="display-1">Moveset</h2>
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Move Name</th>
                <th>Learn Type</th>
                <th>Level</th>
            </tr>
        </thead>
        
        <tbody>   
            <tr ng-repeat="move in pokedexEntry.moves | orderBy: ['learn_type','level','name']">
                <th scope="row">{{$index + 1}}</th>
                <td><a ng-href="/views/index.html#/move/{{move.name}}">{{move.name}}</a></td>
                <td>{{move.learn_type}}</td>
                <td>{{move.level}}</td>
            </tr>
        </tbody>
    </table>
</div>

<script>
var audio = document.getElementById("cry")
function playVid() { 
    audio.play()
} 
</script>

<!--
<p>Evolutions</p>
<div ng-repeat="evolution in pokedexEntry.evolutions">
    <p>{{evolution.to}}</p>
</div>
-->
<div class="col-md-12 pokedexFooter">
<!--    <a ng-href="/views/index.html#/all">back</a>-->
</div>